body {
  background-color: #2F2F2F;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  text-align: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.padding-ver{
  padding: 5% 0;
}

.cta-container{
  padding: 18% 25%;
}

.cta-container h1{
  margin-bottom: 3%;
}


.projects-div{
  margin: 10% 0;
}

.project-link{
  display: block;
  color: #aaa9a9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.project-link:hover{
  text-decoration: underline;
  color:#d6d6d6;
}

.projects-empty{
  height: 432px;
}