body {
  background-color: #2F2F2F;
  color: rgb(175, 175, 175);
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  text-align: center;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.padding-ver{
  padding: 5% 0;
}

.cta-container{
  padding: 18% 15%;
}

.cta-container h1{
  margin-bottom: 3%;
}


.projects-div{
  margin: 10% 0;
}

.projects-container{
  margin-top: 2%;
}

.project-link{
  display: block;
  color: #aaa9a9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.project-link:hover{
  text-decoration: underline;
  color:#d6d6d6;
} 

.projects-empty{
  height: 432px;
}

.icons{
  padding-top: 1%;
}

.contact-icon{
  margin: auto 0.5%;
  
}

.contact-icon svg{
  font-size: 2rem;
  color: rgb(175, 175, 175);
}

.contact-icon svg:hover{
  color: rgb(255, 255, 255);
}

.footer{
  margin-top: 5%;
}

.footer p{
  font-size: 10px;
}

.footer a{
  color: rgb(189, 189, 189);
}

/**
From 0px to 900px
**/
@media (max-width: 1000px){
  .cta-container{
    padding: 10% 8%;
  }

  .projects-div{
    padding: 8%;
    margin: 0;
  }
}

/**
Tablet and below
**/
@media (max-width: 768px){
  .contact-icon{
    margin: auto 2%;
  }
}